/* Fonts */

@font-face {
    font-family: "vt323";
    src: url("VT323/VT323-Regular.ttf");
}

/* Default Styles & Page Structure */

body {
    block-size: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "vt323", sans-serif;
    background-image: url("images/day-wallpaper.jpeg");
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.night-wallpaper {
    background-image: url("images/night-wallpaper.jpeg");
}

/* Header & Title */

header {
    font-size: x-large;
}

header h1,
footer h2 {
    inline-size: fit-content;
    padding-inline: 10px;
    margin-inline: auto;
    background-color: white;
    border: 2px solid black;
}

/* Sketch Board */

#board {
    margin: 20px;
    inline-size: 500px;
    block-size: 500px;
    display: grid;
    border: 3px solid black;
}

/* Sketch Menu Options */

#menu {
    inline-size: 160px;
    block-size: 440px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#menu > * {
    margin: 5px;
}

input,
.menu-text,
#grid-title {
    font-family: "vt323", sans-serif;
    font-size: x-large;
}

#menu, 
.menu-container-1, 
.menu-container-2, 
.menu-container-3 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.menu-container-1, 
.menu-container-2, 
.menu-container-3 {
    inline-size: 90%;
    background-color: white;
}

.menu-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-container-2 {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "color ."
        "color .";
}

#eraser-color,
#grid-color {
    grid-area: color;
    block-size: 100%;
}

.menu-container-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.marker {
    color: white;
    background-color: black;
}

/* Footer & Acknowledgements */

footer {
    font-size: large;
}

footer h2 a {
    color: gray;
    text-decoration: none;
}

footer h2 a:hover {
    text-decoration: underline;
}

/* Media Queries For Responsive Design */

@media (max-width: 580px) {

    #board {
        inline-size: 400px;
        block-size: 400px;
    }
}

@media (max-width: 450px) {

    #board {
        inline-size: 300px;
        block-size: 300px;
    }
}

@media (max-width: 350px) {

    header {
        font-size: medium;
    }

    #board {
        inline-size: 250px;
        block-size: 250px;
    }

    footer {
        font-size: small;
    }
}

/* 
    REFERENCE: 
    https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ 
*/

/* Range Reset */
input[type="range"] {
    margin-top: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/* Chrome, Safari, Opera and Edge Chromium styles */

/* Slider Track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: gray;
    border-radius: 0.5rem;
    height: 0.5rem;  
}

/* Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;       /* Override default look */
    appearance: none;
    margin-top: -4px;               /* Centers thumb on the track */

    /* Custom Styles */
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    outline: 2px solid black;
}

/* Firefox styles */

/* Slider Track */
input[type="range"]::-moz-range-track {
    background-color: gray;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* Slider Thumb */
input[type="range"]::-moz-range-thumb {
    border: none;       /* Removes extra border that FF applies */
    border-radius: 0;   /* Removes default border-radius that FF applies */

    /* Custom Styles */
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    outline: 2px solid black;
}