/* Default Styles & Page Structure */

html, 
body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

main {
    display: flex;
    flex-flow: row wrap;
}

/* -------------------------------------------------------------------------- */

/* Sketch Board */

#board {
    inline-size: 500px;
    block-size: 500px;
    display: grid;
    border: 1px solid black;
}

/* -------------------------------------------------------------------------- */

/* Sketch Menu Options */

#menu {
    display: inherit;
    flex-direction: column;
}

/* -------------------------------------------------------------------------- */

/* Footer & Acknowledgements */

