/* Fonts */

@font-face {
    font-family: "vt323";
    src: url("VT323/VT323-Regular.ttf");
}

/* -------------------------------------------------------------------------- */

/* Default Styles & Page Structure */

html, 
body {
    block-size: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "vt323", sans-serif;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

/* -------------------------------------------------------------------------- */

/* Header & Title */

header {
    font-size: x-large;
}

/* -------------------------------------------------------------------------- */

/* Sketch Board */

#board {
    margin: 20px;
    inline-size: 500px;
    block-size: 500px;
    display: grid;
    border: 5px solid black;
}

/* -------------------------------------------------------------------------- */

/* Sketch Menu Options */

#menu {
    inline-size: 160px;
    block-size: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#menu > * {
    margin: 5px;
}

input,
#size,
#grid-title {
    font-family: "vt323", sans-serif;
    font-size: x-large;
}

#menu, 
.menu-container-1, 
.menu-container-2, 
.menu-container-3 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.menu-container-1, 
.menu-container-2, 
.menu-container-3 {
    inline-size: 90%;
    background-color: lightgrey;
}

.menu-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-container-2 {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "color ."
        "color .";
}

#eraser-color,
#grid-color {
    grid-area: color;
    block-size: 100%;
}

.menu-container-3 {
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------------------------------- */

/* Footer & Acknowledgements */

footer {
    font-size: large;
}